
    
@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .logoFerrari {
        max-width: 80px;
    }
    .textApresentation {
        width: 100%;
    }

    header h2 {
        font-size: 35px;
        margin-bottom: 5px;
    } 
    
    header p {
        font-size: 20px;
    } 

    .imgHeader {
       display: flex; 
       align-items: center;
    }
    .imgHeader img{
        margin: 0 auto;  
        width: 400px;
    }

    .inicio {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .inicio h3 {
        font-size: 12px;
    }
    .inicio p {
        margin-top: -120px;
        font-size: 10px;
    }
  
    .inicio img {
        max-width: 100%;

    }
    .auge{
        grid-template-columns: 1fr 1fr;
        
    }
    .auge h3 {
        font-size: 12px;
    }

    .auge p {
        margin-top: -120px;
        font-size: 10px;
    }

    .class1 {
        margin: 40px 0; 
        text-align: start;
        font-size: 30px;
    }

    .jejuns{
        grid-template-columns: 1fr 1fr;
    }
    .jejuns h3 {
        font-size: 12px;
    }

    .jejuns p {
        margin-top: -120px;
        font-size: 10px;
    }

    
    .momento{
        grid-template-columns: 1fr 1fr;
        
    }
    .momento h3 {
        font-size: 12px;
    }

    .momento p {
        margin-top: -120px;
        font-size: 10px;
    }

    .footer p{
        font-size: 2px;
    }
}
